# Monad Network Configuration
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_CHAIN_ID=10143
MONAD_EXPLORER_URL=https://testnet.monadexplorer.com

# Deployer / Actor Private Keys
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CRE_REPORTER_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
PROVIDER_PRIVATE_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a
BUYER_PRIVATE_KEY=0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6

# Contract Deployments (filled after forge script deployment)
NEXT_PUBLIC_COMPUTE_SLA_HUB_ADDRESS=
NEXT_PUBLIC_COLLATERAL_VAULT_ADDRESS=
NEXT_PUBLIC_SETTLEMENT_CONTROLLER_ADDRESS=
NEXT_PUBLIC_MOCK_USDC_ADDRESS=

# Observers & Services Endpoints
PROVIDER_OBSERVER_URL=http://localhost:4001
INDEPENDENT_PROBE_URL=http://localhost:4002
SECONDARY_OBSERVER_URL=http://localhost:4003
EVALUATOR_URL=http://localhost:4000

# Envio HyperIndex Configuration
ENVIO_API_URL=http://localhost:8080/v1/graphql
NEXT_PUBLIC_ENVIO_GRAPHQL_URL=http://localhost:8080/v1/graphql

# Chainlink CRE Configuration
CRE_TARGET_NETWORK=monad-testnet
CRE_REPORTER_ADDRESS=
CRE_WORKFLOW_NAME=compsentry-telemetry-settlement

# Optional AI Incident Summarizer (Anthropic or Gemini / OpenAI)
AI_API_KEY=
